In [1]:
import pandas as pd
import numpy as np

In [17]:
df=pd.concat([
    pd.Series({"a":1, "b":2}, name="frqA"), 
    pd.Series({"a":4, "b":20}, name="frqB"), 
    pd.Series({"a":4, "y":4}, name="frqC")
], 
    axis=1)

In [18]:
df

   frqA  frqB  frqC
a   1.0   4.0   4.0
b   2.0  20.0   NaN
y   NaN   NaN   4.0

In [19]:
df=df.fillna(0)
df.sum(axis=1)

a     9.0
b    22.0
y     4.0
dtype: float64

In [40]:
df.loc[:, "frqA":"frqB"].sum(axis=1)

a     5.0
b    22.0
y     0.0
dtype: float64

In [56]:
x = df.loc[:, "frqA":"frqC"] > 0
x
# df.loc[df['col1'] == some_value, 'col2'].sum()

    frqA   frqB   frqC
a   True   True   True
b   True   True  False
y  False  False   True

In [54]:
x.sum(axis=1)

a    3
b    2
y    1
dtype: int64

In [59]:
df["DF"] = x.sum(axis=1)

In [62]:
#df.drop('df', axis=1, inplace=True)

In [63]:
df

   frqA  frqB  frqC  DF
a   1.0   4.0   4.0   3
b   2.0  20.0   0.0   2
y   0.0   0.0   4.0   1

In [64]:
df.drop(df[df["DF"] < 2].index)
#df = df.drop(df[df.score < 50].index)

   frqA  frqB  frqC  DF
a   1.0   4.0   4.0   3
b   2.0  20.0   0.0   2

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])

In [ ]:
df2 = pd.DataFrame([['a', 3], ['d', 4]],
                   columns=['letter', 'number'])

In [ ]:
pd.concat([df1, df2], axis=1)

In [ ]:
s={"a": 1, "b": 3, "c": 1, "d": 5}
t={"a": 1, "c": 3, "d": 1, "e": 4}
u={"b": 1, "c": 4, "r": 3, "q": 1}
control = [pd.Series(data) for data in [s,t,u]]
df = pd.concat(control, axis=1)
df

In [ ]:
df.shape

In [ ]:
df.isnull().sum().sum()

In [ ]:
len(df) - df.count()

In [ ]:
len(df)

In [ ]:
"a" in df

In [ ]:
df.loc["a"]

In [ ]:
voc = list("abcdefghijklmnopqrstuvxy")
set(voc).difference(df.index)

In [ ]:
(0.45 - 0.2) / (0.05 * np.sqrt(1 + 1/10))

In [ ]:
None == False

In [ ]:
df.loc["c"].std(ddof=1)